@model List<EntityLayer.Entities.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a class="btn btn-primary" href="/Admin/AdminCategory/Create">Kategori Ekle</a>
<br />
<br />
<table class="table table-bordered" id="table">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelleme</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("Sil","Delete",new {item.Id},new {@class="btn btn-danger",onclick="return confirm ('silmek istiyormsunuz?')"})</td>
            <td><a class="btn btn-primary" href="/Admin/AdminCategory/Update/@item.Id">Güncelleme</a></td>
        </tr>
    }
</table>








